*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
$brand-color:#9c0b00;
$brand-color-tra: #9c0a00f3;
$gold-color:#ECAB05;
$secondry-text-color:#565656;
$secondry-bg-color:#e2e2e2;
$primery-bg-color:#c4c4c4;
$font-size:(
    "tiny":12px,
    "small": 18px,
    "medium": 24px,
    "h-medium": 36px,
    "large": 56px,
    "huge": 80px,
);
$secondry-font:'Tangerine', cursive ;
$primery-font:'Roboto', sans-serif;
@mixin respTitle ($size){
            font-size: map-get($font-size, $size);
            font-family: $primery-font;
            color: $brand-color;
            text-align: center;
            font-weight: 400;
}
main{
  .about-hero{
      width:100%;
      .about__bg{
          margin-bottom: 200px;
          width: 100%;
          height: 65vh;
          background:linear-gradient(rgba(20, 20, 20, 0.335), rgba(20, 20, 20, 0.801)), url(/images/about-bg.jpg) no-repeat center center/cover;
          h2{
              @media screen and (max-width:1000px) {
                  text-align: center;
                  padding-left: 0%;
              }
              @media screen and (max-width:500px) {
                  font-size: 48px;
              }
              @include respTitle('huge');
              color: white;
              font-family: $secondry-font;
              font-weight: 700;
              text-align: left;
              padding-left: 10%;
              position: relative;
              top: 40%;
          }
          .about__info::-webkit-scrollbar-track{
            background-color: white;
        }
        .about__info::-webkit-scrollbar{
            width: 8px;
        }
        .about__info::-webkit-scrollbar-thumb{
            background-color: $secondry-text-color;
            border-radius: 25px;
            width: 3px;
        }
          .about__info{
            @media screen and (max-width:1000px) {
                width: 80%;
                top: 40%;
                height: 45vh;
                p{
                    line-height: 35px;
                    letter-spacing: 1px;
                }
            }
          
              overflow-y: scroll;
              width: 45%;
              height: 35vh;
              position: absolute;
              top: 45%;
              right: 10%;
              background-color: white;
              box-shadow: 5px 5px 25px -8px #323232;
              padding: 20px;
              p{
                  color: $secondry-text-color;
                  font-family: $primery-font;
                  line-height: 40px;
                  letter-spacing: 2px;
                  font-size: map-get($font-size, 'small');
                  z-index: -1;
                  @media screen and (max-width:500px) {
                    letter-spacing: 1px;
                    line-height: 35px;
                }
                  a{
                      text-decoration: none;
                      cursor: pointer;
                      color: $brand-color;
                  }

              }
          }
      }
      .about__links{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          margin-top: 50px;
          margin-bottom: 50px;
          .ablink-col{
            @media screen and (max-width:500px) {
               width: 250px;
               height: 250px;
            }
              border-radius: 15px;
              margin: 20px 10px;
              padding: 10px;
              width: 300px;
              height: 300px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: 0px 30px 40px -20px rgb(34, 34, 34);
              a{
                 text-align: center;
                  text-decoration: none;
                  color: $brand-color;
                  font-family: $primery-font;
                  font-weight: 400;
                  font-size: map-get($font-size, "medium");
              }
          }
      }
  }
}