*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
$brand-color:#9c0b00;
$brand-color-tra: #9c0a00f3;
$gold-color:#ECAB05;
$secondry-text-color:#565656;
$secondry-bg-color:#e2e2e2;
$primery-bg-color:#c4c4c4;
$font-size:(
    "tiny":12px,
    "small": 18px,
    "medium": 24px,
    "h-medium": 36px,
    "large": 56px,
    "huge": 112px,
);
$secondry-font:'Tangerine', cursive ;
$primery-font:'Roboto', sans-serif;
  .contact-details{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .contact-col{
    flex-basis: 45%;
    box-sizing: border-box;
    padding: 10px;
  }
  .contact-col h3{
    color: $brand-color;
    font-size: map-get($font-size, medium);
    font-family: $primery-font;
    font-weight: 300;
    margin: auto;
    text-align: center;
    line-height: 40px;
  }
  .contact-col span{
    color: $brand-color;
    font-size: map-get($font-size, medium);
    font-family: $primery-font;
    font-weight: 300;
    margin: auto;
    text-align: center;
    line-height: 40px;
  }
  .contact-col a{
    text-decoration: none;
    color: $brand-color;
    font-size: map-get($font-size, medium);
    font-family: $primery-font;
    font-weight: 300;
    margin: auto;
    text-align: center;
    line-height: 40px;
  }
  .mobile{
    border-right: 2px solid $brand-color;
  }

main .contact{
    margin-top: 104px;
}
@media(max-width:660px){
    .contact-row{
        flex-direction: column;
    }
    .mobile{
        border-right: none;
    }
    .email{
        border-top: 2px solid $brand-color;
    }
}
@media(max-width:345px){
    .contact-col h3,.contact-col a,.contact-col span{
        font-size: map-get($font-size, 'small');
    }
}