*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
$brand-color:#9c0b00;
$brand-color-tra: #9c0a00f3;
$gold-color:#ECAB05;
$secondry-text-color:#565656;
$secondry-bg-color:#e2e2e2;
$primery-bg-color:#c4c4c4;
$font-size:(
    "tiny":12px,
    "small": 18px,
    "medium": 24px,
    "h-medium": 36px,
    "large": 56px,
    "huge": 112px,
);
$secondry-font:'Tangerine', cursive ;
$primery-font:'Roboto', sans-serif;
@mixin respTitle ($size){
            font-size: map-get($font-size, $size);
            font-family: $primery-font;
            color: $brand-color;
            text-align: center;
            font-weight: 400;
}
main{
    width: 100%;
    height: 100vh;
    background: url(/images/notice3.jpg)no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .notice{
        width: 80%;
        height: 70vh;
        background-color: rgba(120, 120, 120, 0.2);
        backdrop-filter: blur(8px);
        margin-top: 100px;
        border-radius: 10px;
        overflow: hidden;
        .notice-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            border-bottom: 2px solid white;
            padding: 15px 10px;
            a{
                text-decoration: none;
                color: white;
                font-size: map-get($font-size, 'medium');
                font-family: $primery-font;
                font-weight: 300;
                cursor: pointer;
                transition: .35s;
                padding: 5px 10px;
                border-radius: 8px;
                &:hover{
                    background-color: white;
                    color: $brand-color;
                }
            }
        }
        .notice-body::-webkit-scrollbar-track{
            background-color: transparent;
        }
        .notice-body::-webkit-scrollbar{
            width: 8px;
        }
        .notice-body::-webkit-scrollbar-thumb{
            background-color: white;
            border-radius: 25px;
            width: 5px;
        }
        .notice-body{
            width: 90%;
            height: 50vh;
            margin: auto;
            padding: 15px 10px;
            overflow-y: scroll;
            .news{
                margin: 15px 0px;
                padding: 20px 0px;
                h2{
                    font-size: map-get($font-size, 'medium');
                    font-weight: 300;
                    font-family: $primery-font;
                    color: white;
                }
                a{  
                    margin-top: 5px;
                    text-decoration: none;
                    font-size: map-get($font-size, 'medium');
                    font-weight: 300;
                    font-family: $primery-font;
                    color: $brand-color;

                }
            }
        }
        
    }

}