*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
//  variables
$brand-color:#9c0b00;
$brand-color-tra: #9c0a00f3;
$gold-color:#ECAB05;
$secondry-text-color:#565656;
$secondry-bg-color:#e2e2e2;
$primery-bg-color:#c4c4c4;
$font-size:(
    "tiny":12px,
    "small": 18px,
    "medium": 24px,
    "h-medium": 36px,
    "large": 56px,
    "huge": 112px,
);
$secondry-font:'Tangerine', cursive ;
$primery-font:'Roboto', sans-serif;
@mixin respTitle ($size){
            font-size: map-get($font-size, $size);
            font-family: $primery-font;
            color: $brand-color;
            text-align: center;
            font-weight: 400;
}
body{
    display: grid;
    grid-template-areas: 
    "h h"
    "a m"
    "a f"
    ;
    grid-template-columns: 65px 1fr;
    grid-template-rows: auto 1fr auto;
    // this sectinon for responsive
   
    @media screen and (max-width:1025px) {
        grid-template-areas:
        "h h"
        "m m"
        "f f"
        'a a'
        ;
        aside{
            bottom: 0%;
            left: 0%;
            height: 75px;
            width: 100vw;
            flex-direction: row;
            background-color: $brand-color;
            justify-content: space-evenly;
            div{
                top: 0px;
                margin: 0px;
                a img{
                    margin-bottom: 0px;
                }
            }
        }
       header{
         z-index: 50;
        nav{
          flex-direction: column;
          width: auto;
          border-radius: 0px;
          box-shadow: none;
          z-index: -2;
          line-height: 40px;
          background-color: $brand-color-tra;
          margin-right: 0%;
          .nav-link{
          position: fixed;
          background-color: $brand-color-tra;
          top: 107px;
          right: -200px;
          padding: 20px 20px;
          height: auto;
          transition: all .35s;
          border-bottom-left-radius: 10px;
          }
        }
        nav ul li:hover::after{
          width: 0%;
        }
        nav ul li:hover> .sub-nav ul li{
          display: none;
        }
        nav ul li{
          display: block;
          a{
            color: white;
          }
          img{
            display: none;
          }
        }
        .burger{
          display: block;
        }
        .logo h2{
          display: block;
        }
       }
       footer{
         margin-bottom: 75px;
         border-left: none;
         border-bottom: 3px solid $gold-color;
       }
       main{
         .achivement h2{
           margin-top: 0px;
         }
         .container{
           perspective: 1200;
         }
        .achivement, main .stage, main .img, main .ring {
          height: 400px;
        }
       }
    }
    @media screen and (max-width: 815px) {
      .diploma{
        display: none;
      }
      .footer-shall{
        flex-direction: column;
      }
      .footer__col{
        padding: 20px 0px;
      }
      .footer__first, .footer__second, .footer__third{
        flex-basis: 90%;
      }
      .footer__second{
        border-left: 0px solid white;
        border-right: 0px solid white;
        border-top: 2px solid $gold-color;
        border-bottom: 2px solid $gold-color;
      }
  }
  @media screen and (max-width:550px) {
    header .logo h2{
      display: none;
    }
    .achivement{
      .container{
        perspective: 900;
      }
    }
    main .achivement h2{
      font-size: 32px;
    }
    main{
      .courses h2{
        font-size: 32px;
      }
      .placement h2{
        font-size: 32px;
      }
      .placement .comp h2{
        font-size: 32px;
      }
      .message{
        position: relative;
        top: 50px;
      }
    }
  }
  @media screen and (max-width:450px) {
    main .achivement .container, main .achivement{
      perspective: 500;
      height: 300px;
    }
   main .courses {
     h4{
       margin-top: 10px;
     }
      .main__course{
        flex-direction: column;
        .cour{
          flex-basis: 100%;
          .course__img{
            height: 20vh;
          }
        }
      }
    }
  }
  @media screen and (max-width:325px) {
    footer{
      .footer-shall .footer__first{
        a{
          font-size: 18px;
        }
      }
    }
  }
  @media screen and (max-height:600px) {
    header nav .nav-link{
      padding: 10px;
      ul li {
        padding: 5px;
      }
    }
  }
}
header{
    grid-area: h;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: $brand-color;
    padding: 4px 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    border-bottom: 3px solid $gold-color;
    @media screen and (max-width:1150px) {
        .logo h2{
            display: none;
        }
    }
    .logo{
        display: flex;
        align-items: center;
        color: white;
        padding-left: 25px;
        h2{
            font-family: $primery-font;
            font-weight: 400;
            color: white;
            font-size: map-get($font-size , "medium");
            transition: .35s;
        }
        img{
            width: 100px;
            transition: .35s;
        }
    }
    .contact{
        display: inline-block;
        position: absolute;
        top: 2%;
        right: 2%;
        columns: white;
        letter-spacing: 5%;
        h2{
            font-family: $primery-font;
            font-weight: 100;
            color: white;
            font-size: map-get($font-size , "small");
        }
        span{
            img{
                width: 14px;
            }
        }
    }
.burger {
    display: none;
    // margin-right: 25px;
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 15px;
    transition: all .35s;
    cursor: pointer;
    padding: 10px;
    &.showHitArea {
      border: 1px solid olive;
    }
    & > div {
      width: 30px;
      height: 3px;
      border-radius: 5px;
      background: $gold-color;
      &::before,
      &::after {
        transition: font-size 0s;
        content: "";
        display: block;
        position: absolute;
        width: 40px;
        height: 3px;
        background: $gold-color;
        border-radius: 5px;
      }
      &::before {
        margin-top: -12px;
      }
      &::after {
        margin-top: 12px;
      }
    }
  }
  .burger2 {
    & > div {
      transition: background 0.4s, font-size 0s;
      &::before,
      &::after {
        transition: font-size 0s;
        transform-origin: center center;
      }
    }
    &.toggled {
      > div::before {
        animation: burg2top 0.4s linear forwards;
      }
      > div {
        background: transparent;
      }
      > div::after {
        animation: burg2bottom 0.4s linear forwards;
      }
    }
    &.unToggled {
      > div::before {
        animation: burg2topReset 0.4s linear forwards;
      }
      > div {
        background: $gold-color;
      }
      > div::after {
        animation: burg2bottomReset 0.4s linear forwards;
      }
    }
  
    @keyframes burg2top {
      0% {
      }
      20% {
        margin-top: 0em;
        transform: rotate(0deg);
      }
      60% {
        margin-top: 0em;
        transform: rotate(55deg);
      }
      100% {
        margin-top: 0em;
        transform: rotate(45deg);
      }
    }
  
    @keyframes burg2bottom {
      0% {
      }
      20% {
        margin-top: 0em;
        transform: rotate(0deg);
      }
      60% {
        margin-top: 0em;
        transform: rotate(-55deg);
      }
      100% {
        margin-top: 0em;
        transform: rotate(-45deg);
      }
    }
  
    @keyframes burg2topReset {
      0% {
        margin-top: 0em;
        transform: rotate(45deg);
      }
      20% {
        transform: rotate(0deg);
      }
      60% {
        margin-top: 12px;
        transform: rotate(0deg);
      }
      100% {
        margin-top: 12px;
        transform: rotate(0deg);
      }
    }
  
    @keyframes burg2bottomReset {
      0% {
        margin-top: 0em;
        transform: rotate(-45deg);
      }
      20% {
        transform: rotate(0deg);
      }
      60% {
        margin-top: -12px;
        transform: rotate(0deg);
      }
      100% {
        margin-top: -12px;
        transform: rotate(0deg);
      }
    }
  }
    nav{
        width: 780px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        position: relative;
        top: 50px;
        font-family: $primery-font;
        font-weight: 400;
        letter-spacing: 1px;
        border-radius: 5px;
        font-size: map-get($font-size, 'small');
        margin-right: 25px;
        transition: .35s;
        box-shadow: 2px 0px 10px 2px $secondry-text-color;
        ul{
            li::after{
                content: "";
                display: block;
                width: 0%;
                height: 2px;
                background-color: $brand-color;
                position: relative;
                top: 0%;
                left: 0%;
                transition: .35s;
            }
            li:hover::after{
                width: 100%;
            }
            li:hover> .sub-nav ul li{
                display: block;
            }
            li{
                list-style: none;
                display: inline-block;
                padding: 10px 8px ;
                a{
                    text-decoration: none;
                    color: $secondry-text-color;
                }
                img{
                    width: 10px;
                    filter: invert(80%);
                }
            }
        }
        .sub-nav{
            background-color: white;
            position: absolute;
            top: 45px;
            ul{
                li{
                    display: none;
                }
            }
        }
    }
}
aside{
    grid-area: a;
    background-color: $brand-color;
    position: fixed;
    height: 100vh;
    left: 0%;
    width: 75px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div:hover{
        transform: scale(1.12);
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        transition: .15s;
        position: relative;
        top: 50px;
    }
    div a img{
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .notice-board a img{
        width: 35px;
        height: 35px;
    }
    div p{
        text-align: center;
        color: white;
        font-family: $primery-font;
        font-weight: 300;
        font-size: map-get($font-size, "tiny");
        cursor: pointer;
    }
}
main{
    grid-area: m;
    .achivement h2{
        @include respTitle('h-medium');
        margin-top: 40px;
    }
    .achivement, .stage, .img, .ring{
        width:100%;
        height: 500px;
        transform-style: preserve-3d;
        user-select:none;
   }
   .stage, .achivement{
       overflow: hidden;
   }
   .dov{
       position: absolute;
   }
   .img{
       padding: 20px;
   }
   .container {
    perspective: 2000px;
    width: 300px;
    height: 300px;  
    left:50%;
    top: 10%;
    transform:translate(-50%,-50%);
  }
    .about-us{
        width: 90%;
        height: 45vh;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        @media screen and (max-width:550px){
          width: 80%;
        }
        .about__info::-webkit-scrollbar-track{
            background-color: transparent;
        }
        .about__info::-webkit-scrollbar{
            width: 8px;
        }
        .about__info::-webkit-scrollbar-thumb{
            background-color: $brand-color;
            border-radius: 25px;
            width: 5px;
        }
        .about__info{
            flex-basis: 60%;
            height: 45vh;
            z-index: 5;
            background-color: $secondry-bg-color;
            overflow: scroll;
            overflow-x: hidden;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            @media screen and (max-width:550px) {
             flex-basis: 100%;
            //  border-top-right-radius: 25px;
             border-bottom-right-radius: 25px;
            }
            h2{
                color: $brand-color;
                text-align: center;
                letter-spacing: 2px;
                font-family: $secondry-font;
                font-size: map-get($font-size, "large");
                margin-top: 10px;
                cursor: pointer;
                @media screen and (max-width:550px) {
                  font-size: map-get($font-size, "h-medium");
                }
            }
            p{
                z-index: -1;
                font-size: map-get($font-size, "small" );
                font-family: $primery-font;
                font-weight: 400;
                letter-spacing: 2px;
                color: $secondry-text-color;
                padding: 15px 25px;
                line-height: 32px;
                @media screen and (max-width:550px) {
                  font-size: 15px;
                  a{
                    font-size: 15px;
                  }
                }
                a{
                    text-decoration: none;
                    color: $brand-color;

                }
            }
        }
        .about__img{
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            flex-basis: 40%;
            width: 100%;
            height: 100%;
            background: url(/images/about__img.jpg) no-repeat center center/cover;
            transition: .35s;
            cursor: pointer;
            @media screen and (max-width:550px) {
              display: none;
            }
        }
    }
    .courses{
        margin: 20px 0px;
        margin-bottom: 30px;
        h2{
            @include respTitle("h-medium");
        }
        .main__course{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 90%;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            .cour:hover> .course__img{
                top: 0px;
            }

            .cour{
                flex-basis: 30%;
                width: 100%;
                height: 40vh;
                @media screen and (max-width: 815px) {
                    flex-basis: 45%;
                }
                a{
                    text-decoration: none;
                    h2{
                        width: 100%;
                        z-index: -1;
                        background-color: $brand-color;
                        color: white;
                        font-family: $primery-font;
                        font-size: map-get($font-size, 'medium');
                        font-weight: 400;
                        text-align: center;
                        padding-top: 30px;
                        padding-bottom: 10px;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                        position: relative;
                        top: -20px;
                        border: 2px solid $brand-color;
                    }
                }
               
              .course__img{
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                    border: 2px solid $brand-color;
                    z-index: 4;
                    position: relative;
                    top: 55px;
                    transition: .35s;
                    @media screen and (max-width:815px) {
                      top: 0px;
                    }
                }
                .c__img__1{
                    background: url(/images/ug-programmes2.jpg) no-repeat center center/cover;
                }
                .c__img__2{
                    background: url(/images/pg-programmes2.jpg) no-repeat center center/cover;
                }
                .c__img__3{
                    background: url(/images/diploma-course2.jpg) no-repeat center center/cover;
                }
            }
        }
        h4{
            width: 95%;
            margin: auto;
            text-align: right;
            margin-top: 70px;
            font-size: map-get($font-size, 'small');
            font-family: $primery-font;
            font-weight: 400;
          a:hover> img{
              width: 15px;
              left: 4px;
          }
          a:hover{
              transform: translateX(2px);
          }
            a{
                text-decoration: none;
                color: $brand-color;
                transition: .35s;
                transition: .35s;
               img {
                    width: 0px;
                    position: relative;
                    transition: .35s;
                   &:hover{
                       width: 15px;
                       left: 4px;
                   }
                }
            }
        }
    }
    .placement{
        margin-top: 40px;
        margin-bottom: 40px;
        h2{
            @include respTitle("h-medium");
            margin-bottom: 20px;
        }
        .placement-carsoul{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.300));
            width: 85%;
            margin: auto;
            height: 50vh;
            z-index: 4;
            overflow: hidden;
            border-radius: 25px;
            .placement-img{
                width: 300%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0%;
                padding: 0%;
                z-index: -1;
                position: relative;
                right: 0px;
                transition: .35s;
                .place__img{
                    width: 100%;
                }
                .place__img img {
                   
                    width: 100%;
                    height: 50vh;
                    margin: 0%;
                    padding: 0%;
                    z-index: -1;

                }
            }
            .dot-box{
                display: flex;
                width: 150px;
                height: 50px;
                margin: auto;
                position: relative;
                top: -50px;
                align-items: center;
                justify-content: space-evenly;
                .dot{
                    width: 12px;
                    height: 12px;
                    background-color: $primery-bg-color;
                    border-radius: 12px;
                    // padding-left: 5px;
                    // padding-right: 5px;
                    cursor: pointer;
                    transform: rotate(90deg);
                    transition: .35s;
                    &:hover{
                        background-color: $secondry-text-color;
                    }
                }
                .active{
                    height: 28px;
                    background-color: $secondry-text-color;
                }
            }
        }
        .comp{
            margin-top: 20px;
            h2{
                @include respTitle("h-medium");
            }
            .requ{
                width: 800px;
                margin: auto;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                   .r__img{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;
                    width: 3600px;
                    top: 0%;
                    right: 0%;
                    transition: .35s;
                    transform: translateX(0%);
                    img{
                        // flex-basis: 25%;
                        width: 200px;
                        height: 120px;
                        z-index: -1;
                        // margin-left: 2%;
                        // margin-right: 2%;
                    }
                   }
            }
        }
    }
  .message{ 
      margin-bottom: 40px; 
      @media screen and (max-width:550px){
        margin-bottom: 10px;
      }  
      .blog-slider {
          width: 80%;
        position: relative;
          max-width: 1000px;
          margin: auto;
          background: #fff;
          box-shadow: 0px 14px 80px rgba(56, 56, 56, 0.2);
          padding: 25px;
          border-radius: 25px;
          height: 350px;
        transition: all .3s;
        
         
        @media screen and (max-width: 992px) {
              width: 80%;
              height: 350px;
        }
        
        @media screen and (max-width: 768px) {
          min-height: 500px;
          height: auto;
          margin: 180px auto;
        }
        
        
        @media screen and (max-height: 500px) and (min-width: 992px) {
              height: 350px;
        }
        
        &__item {
          display: flex;
          align-items: center;
          
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
          
          &.swiper-slide-active {
            .blog-slider__img {
              img {
                opacity: 1;
              transition-delay: .3s;
              }
            }
            .blog-slider__content {
              > * {
            
              opacity: 1;
              transform: none;
      
            @for $i from 0 to 15 {
              &:nth-child(#{$i + 1}) {
                transition-delay: $i * 0.1 + 0.3s;
              }
            }
      
          }
            }
          }
          
        }
        
        &__img {
           // width: 40%;
          width: 300px;
          flex-shrink: 0;
          height: 300px;
          background-image: linear-gradient(147deg, #ff3022ce, #9c0b00);
          box-shadow: 4px 13px 30px 1px rgba(66, 66, 66, 0.2);
          border-radius: 20px;
          transform: translateX(-80px);
         
          overflow: hidden;
          
          img {
            width: 100%;
          height: 100%;
          object-fit: cover;
            display: block;
             opacity: 0;
            border-radius: 20px;
          transition: all .3s;
          }
          
          
          @media screen and (max-width: 992px) {
            // width: 45%;
          }
          @media screen and (max-width: 768px) {
          transform: translateY(-50%);
            width: 90%;
        }
          @media screen and (max-width: 576px) {
            width: 95%;
          }
           @media screen and (max-height: 500px) and (min-width: 992px) {
              height: 270px;
        }
        }
        
        &__content {
          // width: 60%;
          padding-right: 25px;
          @media screen and (max-width: 992px) {
            // width: 55%;
          }
          @media screen and (max-width: 768px) {
                margin-top: -80px;
          text-align: center;
          padding: 0 30px;
          }
          
          @media screen and (max-width: 576px) {
            padding: 0
          }
          > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all .4s;
            
            
          }
          
        }
        
        &__code {
          color: $secondry-text-color;
          margin-bottom: 15px;
          display: block;
          font-weight: 400;
          font-family: $primery-font;
          letter-spacing: 2px;
        }
        
        &__title {
          font-size: 34px;
          font-weight: 700;
          color: $brand-color;
          font-family: $secondry-font;
          margin-bottom: 20px;
          letter-spacing: 2px;
        }
        
        &__text {
          color: $secondry-text-color;
          font-family: $primery-font;
          max-height: 180px;
          line-height: 1.5em;
          overflow-y: scroll;
          letter-spacing: 2px;
          &::-webkit-scrollbar-track{
              background-color: $secondry-bg-color;
          }
          &::-webkit-scrollbar{
              width: 8px;
          }
          &::-webkit-scrollbar-thumb{
            background-color: #9c0b00;
            border-radius: 25px;
            width: 5px;
          }
        }
        
        &__button {
              display: none;
          background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
          padding: 15px 35px;
          border-radius: 50px;
          color: #fff;
          box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
          text-decoration: none;
          font-weight: 500;
              justify-content: center;
          text-align: center;
          letter-spacing: 1px;
          @media screen and (max-width: 576px) {
            width: 100%;
          }
          
        }
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
          bottom: 10px;
          left: 0;
          width: 100%;
          
      }
        &__pagination {
         position: absolute;
          z-index: 21;
          right: 20px;
          width: 11px!important;
          text-align: center;
          left: auto!important;
          top: 50%;
          bottom: auto!important;
          transform: translateY(-50%);
          @media screen and (max-width: 768px) {
           transform: translateX(-50%);
                left: 50%!important;
            top: 205px;
          width: 100%!important;
          display: flex;
          justify-content: center;
          align-items: center;
          }
           &.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 8px 0;
             @media screen and (max-width: 768px) {
               margin: 0 5px;
             }
      }
          
          .swiper-pagination-bullet {
          width: 11px;
          height: 11px;
          display: block;
          border-radius: 10px;
          background: $secondry-text-color;
          opacity: 0.5;
            transition: all .3s;
            &-active {
          opacity: 1;
          background: $brand-color;
          height: 30px;
          box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.3);
              
              @media screen and (max-width: 768px) {
                height: 11px;
                width: 30px;
              }
      }
      }
          
        }
        
      }
    }}
footer{
    grid-area: f;
    background: url(/images/rrredbg.png) no-repeat center center/cover;
    width: 100%;
    // height: 90px;
    border-top: 3px solid $gold-color;
    border-left: 3px solid $gold-color;
   .footer-shall{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    .footer__first, .footer__third{
        flex-basis: 40%;
    }
    .footer__col{
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer__third{
        flex-direction: row;
       .social-img{
           width: 50px;
           height: 50px;
           border-radius: 50%;
           margin: 10px 10px;
           background-color: white;
        img{
            width: 50px;
            height: 50px;
        }
       }
    }
    .footer__first{
        img{
            width: 100px;
        }
        a{
            text-decoration: none;
            color: $brand-color;
            background-color: white;
            font-family: $primery-font;
            font-weight: 400;
            font-size: map-get($font-size, 'medium');
            padding: 5px 20px;
            border-radius: 25px;
            margin-top: 20px;
        }
    }
    .footer__second{
        flex-basis: 20%;
        border-left: 2px solid $gold-color;
        border-right: 2px solid $gold-color;
        @media screen and(max-width:815px) {
          border-left: none;
          border-right: none;
          width: 90%;
          
        }
        ul{
            li{
                list-style: none;
                @include respTitle('small');
                text-align: left;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 2px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
   }
   .copy{
       h4{
           @include respTitle('small');
           color: white;
           letter-spacing: 2px;
           font-weight: 300;
       }
   }
}



