* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .about-hero {
  width: 100%;
}

main .about-hero .about__bg {
  margin-bottom: 200px;
  width: 100%;
  height: 65vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 20, 20, 0.335)), to(rgba(20, 20, 20, 0.801))), url(/images/about-bg.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(20, 20, 20, 0.335), rgba(20, 20, 20, 0.801)), url(/images/about-bg.jpg) no-repeat center center/cover;
}

main .about-hero .about__bg h2 {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
  color: white;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  text-align: left;
  padding-left: 10%;
  position: relative;
  top: 40%;
}

@media screen and (max-width: 1000px) {
  main .about-hero .about__bg h2 {
    text-align: center;
    padding-left: 0%;
  }
}

@media screen and (max-width: 500px) {
  main .about-hero .about__bg h2 {
    font-size: 48px;
  }
}

main .about-hero .about__bg .about__info::-webkit-scrollbar-track {
  background-color: white;
}

main .about-hero .about__bg .about__info::-webkit-scrollbar {
  width: 8px;
}

main .about-hero .about__bg .about__info::-webkit-scrollbar-thumb {
  background-color: #565656;
  border-radius: 25px;
  width: 3px;
}

main .about-hero .about__bg .about__info {
  overflow-y: scroll;
  width: 45%;
  height: 35vh;
  position: absolute;
  top: 45%;
  right: 10%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 25px -8px #323232;
          box-shadow: 5px 5px 25px -8px #323232;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  main .about-hero .about__bg .about__info {
    width: 80%;
    top: 40%;
    height: 45vh;
  }
  main .about-hero .about__bg .about__info p {
    line-height: 35px;
    letter-spacing: 1px;
  }
}

main .about-hero .about__bg .about__info p {
  color: #565656;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 18px;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  main .about-hero .about__bg .about__info p {
    letter-spacing: 1px;
    line-height: 35px;
  }
}

main .about-hero .about__bg .about__info p a {
  text-decoration: none;
  cursor: pointer;
  color: #9c0b00;
}

main .about-hero .about__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
}

main .about-hero .about__links .ablink-col {
  border-radius: 15px;
  margin: 20px 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 30px 40px -20px #222222;
          box-shadow: 0px 30px 40px -20px #222222;
}

@media screen and (max-width: 500px) {
  main .about-hero .about__links .ablink-col {
    width: 250px;
    height: 250px;
  }
}

main .about-hero .about__links .ablink-col a {
  text-align: center;
  text-decoration: none;
  color: #9c0b00;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
