* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-details {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-col {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.contact-col h3 {
  color: #9c0b00;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.contact-col span {
  color: #9c0b00;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.contact-col a {
  text-decoration: none;
  color: #9c0b00;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.mobile {
  border-right: 2px solid #9c0b00;
}

main .contact {
  margin-top: 104px;
}

@media (max-width: 660px) {
  .contact-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile {
    border-right: none;
  }
  .email {
    border-top: 2px solid #9c0b00;
  }
}

@media (max-width: 345px) {
  .contact-col h3, .contact-col a, .contact-col span {
    font-size: 18px;
  }
}
