
  .carousel {
      z-index: 5;
      width: 100%;
      height: 100vh;
      display: flex;  
      overflow: hidden;
    position: relative;
    border-bottom: 1.5px solid #c4c4c4;
  }
  
  .carousel-item {
    visibility:visible;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
        -webkit-align-items: center;
      -webkit-justify-content: flex-end;
      position: relative;
      background-color: white;
      flex-shrink: 0;
     -webkit-flex-shrink: 0;
      position: absolute;
      z-index: 0;
    transition: 0.6s all linear;
  }
  
  .carousel-item__info {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
      display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    
    order: 1;
    left: 0;
    margin: auto;
    padding: 0 40px;
    width: 40%;
  
  }
  
  .carousel-item__image {
      width: 70%;
      height: 100%;
      order: 2;
      align-self: flex-end;
      flex-basis: 70%;
    
        -webkit-order: 2;
      -webkit-align-self: flex-end;
      -webkit-flex-basis: 70%;
    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
     position:relative;
    transform: translateX(100%);
    transition: 0.6s all ease-in-out;
  }
  
  
  .carousel-item__title {
      margin: 15px 0 0 0;
      font-family:'Tangerine', cursive;
      font-size: 64px;
      line-height: 80px;
      letter-spacing: 3px;
      font-weight: 700;
      color: #9c0b00;
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
  }
  
  .carousel-item__description {
      transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
      margin-top: 35px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: #565656;
      line-height: 22px;
      margin-bottom: 35px;
  }
  
  .carousel-item--1 .carousel-item__image{
    background-image: url(/images/bgimg.jpg);
  }
  
  
  .carousel-item--2 .carousel-item__image{
    background-image: url(/images/bgimg02.jpg);
  }
  
  .carousel-item--3 .carousel-item__image{
    background-image: url(/images/bgimg4.jpg);
  }
  
  .carousel-item--4 .carousel-item__image{
    background-image: url('https://images.pexels.com/photos/1008732/pexels-photo-1008732.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  }
  
  .carousel-item--5 .carousel-item__image{
    background-image: url('https://images.pexels.com/photos/1029614/pexels-photo-1029614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  
  
  
  
  .carousel-item__container{
    position: relative;
    top: 50px;
  }
  .carousel-item__btn {
      width: 25%;
      color: #565656;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 3px;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0;
      width: 25%;
      font-weight: 700;
      text-decoration: none;
        transform: translateY(25%);
      opacity: 0;
      visibility: hidden;
      transition: 0.6s all ease-in-out;
  }
  .carousel-item__btn:hover{
    color: #9c0b00;
  }
  
  .carousel__nav {
      position: absolute;
      right: 0;
      z-index: 2;
      background-color: #fff;
    bottom: 0;
  }
  
  .carousel__icon {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
    fill: #5d5d5d;
  }
  
  .carousel__arrow {
      cursor: pointer;
      display: inline-block;
      padding: 11px 15px;
      position: relative;
  }
  
  .carousel__arrow:nth-child(1):after {
      content:'';
      right: -3px;
      position: absolute;
      width: 1px;
      background-color: #b0b0b0;
      height: 14px;
      top: 50%;
      margin-top: -7px;
  }
  
  .active{
     z-index: 1;
    display: flex;
    visibility:visible;
  }
  
  .active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
      transform: translateY(0);
      opacity: 1;
    transition: 0.6s all ease-in-out;
      visibility: visible;
  }
  
  
  
  .active .carousel-item__image{ 
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
  }
  @media(max-width: 1025px) {
    .carousel{
    top: -75px;
    }
    .carousel__nav{
      top: 60%;
      height: 50px;
    }
    .carousel-item{
      flex-direction: column;
    }
    .carousel-item__image{
      order: 1;
      flex-basis: 60%;
      width: 100%;
      height: 60vh;
      top: 50px;
    }
  
    .carousel-item__info{
      order: 2;
      flex-basis: 30%;
      height: 30vh;
      width: 100%;
    }
    .carousel-item__container{
      position: relative;
      top: 0px;
    }
    .carousel-item__title{
      line-height: 50px;
      margin-top: 5px;
      font-size: 44px;
    }
    .carousel-item__description{
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  @media(max-width:550px){
    .carousel-item__title{
      margin-top: 20px;
      font-size: 32px;
      line-height: 34px;
    }
    .carousel-item__description{
      font-size: 15px;
    }
    @media(max-height:625px) {
      .carousel-item__title{
        margin-top: 30px;
        font-size: 28px;
        line-height: 25px;
      }
      .carousel-item__description{
        font-size: 15px;
        margin: 5px;
      }
      .carousel-item__info{
        height: 25vh;
      }
    }
  }
  @media(max-width:450px){
    .carousel-item__title{
      line-height: 30px;
    }
    .carousel-item__info{
      padding: 0px 10px;
    }
  }
