* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background: url(/images/notice3.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .notice {
  width: 80%;
  height: 70vh;
  background-color: rgba(120, 120, 120, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
}

main .notice .notice-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 2px solid white;
  padding: 15px 10px;
}

main .notice .notice-head a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: .35s;
  transition: .35s;
  padding: 5px 10px;
  border-radius: 8px;
}

main .notice .notice-head a:hover {
  background-color: white;
  color: #9c0b00;
}

main .notice .notice-body::-webkit-scrollbar-track {
  background-color: transparent;
}

main .notice .notice-body::-webkit-scrollbar {
  width: 8px;
}

main .notice .notice-body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 25px;
  width: 5px;
}

main .notice .notice-body {
  width: 90%;
  height: 50vh;
  margin: auto;
  padding: 15px 10px;
  overflow-y: scroll;
}

main .notice .notice-body .news {
  margin: 15px 0px;
  padding: 20px 0px;
}

main .notice .notice-body .news h2 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: white;
}

main .notice .notice-body .news a {
  margin-top: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
}
