* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h" "a m" "a f";
  -ms-grid-columns: 65px 1fr;
      grid-template-columns: 65px 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 1025px) {
  body {
        grid-template-areas: "h h" "m m" "f f" 'a a';
  }
  body aside {
    bottom: 0%;
    left: 0%;
    height: 75px;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #9c0b00;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body aside div {
    top: 0px;
    margin: 0px;
  }
  body aside div a img {
    margin-bottom: 0px;
  }
  body header {
    z-index: 50;
  }
  body header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    z-index: -2;
    line-height: 40px;
    background-color: #9c0a00f3;
    margin-right: 0%;
  }
  body header nav .nav-link {
    position: fixed;
    background-color: #9c0a00f3;
    top: 107px;
    right: -200px;
    padding: 20px 20px;
    height: auto;
    -webkit-transition: all .35s;
    transition: all .35s;
    border-bottom-left-radius: 10px;
  }
  body header nav ul li:hover::after {
    width: 0%;
  }
  body header nav ul li:hover > .sub-nav ul li {
    display: none;
  }
  body header nav ul li {
    display: block;
  }
  body header nav ul li a {
    color: white;
  }
  body header nav ul li img {
    display: none;
  }
  body header .burger {
    display: block;
  }
  body header .logo h2 {
    display: block;
  }
  body footer {
    margin-bottom: 75px;
    border-left: none;
    border-bottom: 3px solid #ECAB05;
  }
  body main .achivement h2 {
    margin-top: 0px;
  }
  body main .container {
    -webkit-perspective: 1200;
            perspective: 1200;
  }
  body main .achivement, body main main .stage, body main main .img, body main main .ring {
    height: 400px;
  }
}

@media screen and (max-width: 815px) {
  body .diploma {
    display: none;
  }
  body .footer-shall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer__col {
    padding: 20px 0px;
  }
  body .footer__first, body .footer__second, body .footer__third {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  body .footer__second {
    border-left: 0px solid white;
    border-right: 0px solid white;
    border-top: 2px solid #ECAB05;
    border-bottom: 2px solid #ECAB05;
  }
}

@media screen and (max-width: 550px) {
  body header .logo h2 {
    display: none;
  }
  body .achivement .container {
    -webkit-perspective: 900;
            perspective: 900;
  }
  body main .achivement h2 {
    font-size: 32px;
  }
  body main .courses h2 {
    font-size: 32px;
  }
  body main .placement h2 {
    font-size: 32px;
  }
  body main .placement .comp h2 {
    font-size: 32px;
  }
  body main .message {
    position: relative;
    top: 50px;
  }
}

@media screen and (max-width: 450px) {
  body main .achivement .container, body main .achivement {
    -webkit-perspective: 500;
            perspective: 500;
    height: 300px;
  }
  body main .courses h4 {
    margin-top: 10px;
  }
  body main .courses .main__course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .courses .main__course .cour {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  body main .courses .main__course .cour .course__img {
    height: 20vh;
  }
}

@media screen and (max-width: 325px) {
  body footer .footer-shall .footer__first a {
    font-size: 18px;
  }
}

@media screen and (max-height: 600px) {
  body header nav .nav-link {
    padding: 10px;
  }
  body header nav .nav-link ul li {
    padding: 5px;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: #9c0b00;
  padding: 4px 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 50;
  border-bottom: 3px solid #ECAB05;
}

@media screen and (max-width: 1150px) {
  header .logo h2 {
    display: none;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-left: 25px;
}

header .logo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 24px;
  -webkit-transition: .35s;
  transition: .35s;
}

header .logo img {
  width: 100px;
  -webkit-transition: .35s;
  transition: .35s;
}

header .contact {
  display: inline-block;
  position: absolute;
  top: 2%;
  right: 2%;
  -webkit-columns: white;
          columns: white;
  letter-spacing: 5%;
}

header .contact h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 18px;
}

header .contact span img {
  width: 14px;
}

header .burger {
  display: none;
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 15px;
  -webkit-transition: all .35s;
  transition: all .35s;
  cursor: pointer;
  padding: 10px;
}

header .burger.showHitArea {
  border: 1px solid olive;
}

header .burger > div {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #ECAB05;
}

header .burger > div::before, header .burger > div::after {
  -webkit-transition: font-size 0s;
  transition: font-size 0s;
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background: #ECAB05;
  border-radius: 5px;
}

header .burger > div::before {
  margin-top: -12px;
}

header .burger > div::after {
  margin-top: 12px;
}

header .burger2 > div {
  -webkit-transition: background 0.4s, font-size 0s;
  transition: background 0.4s, font-size 0s;
}

header .burger2 > div::before, header .burger2 > div::after {
  -webkit-transition: font-size 0s;
  transition: font-size 0s;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

header .burger2.toggled > div::before {
  -webkit-animation: burg2top 0.4s linear forwards;
          animation: burg2top 0.4s linear forwards;
}

header .burger2.toggled > div {
  background: transparent;
}

header .burger2.toggled > div::after {
  -webkit-animation: burg2bottom 0.4s linear forwards;
          animation: burg2bottom 0.4s linear forwards;
}

header .burger2.unToggled > div::before {
  -webkit-animation: burg2topReset 0.4s linear forwards;
          animation: burg2topReset 0.4s linear forwards;
}

header .burger2.unToggled > div {
  background: #ECAB05;
}

header .burger2.unToggled > div::after {
  -webkit-animation: burg2bottomReset 0.4s linear forwards;
          animation: burg2bottomReset 0.4s linear forwards;
}

@-webkit-keyframes burg2top {
  0% {
  }
  20% {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 0em;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    margin-top: 0em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes burg2top {
  0% {
  }
  20% {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 0em;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    margin-top: 0em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes burg2bottom {
  0% {
  }
  20% {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 0em;
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    margin-top: 0em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes burg2bottom {
  0% {
  }
  20% {
    margin-top: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 0em;
    -webkit-transform: rotate(-55deg);
            transform: rotate(-55deg);
  }
  100% {
    margin-top: 0em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes burg2topReset {
  0% {
    margin-top: 0em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes burg2topReset {
  0% {
    margin-top: 0em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: 12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes burg2bottomReset {
  0% {
    margin-top: 0em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: -12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: -12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes burg2bottomReset {
  0% {
    margin-top: 0em;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    margin-top: -12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    margin-top: -12px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

header nav {
  width: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  position: relative;
  top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 25px;
  -webkit-transition: .35s;
  transition: .35s;
  -webkit-box-shadow: 2px 0px 10px 2px #565656;
          box-shadow: 2px 0px 10px 2px #565656;
}

header nav ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #9c0b00;
  position: relative;
  top: 0%;
  left: 0%;
  -webkit-transition: .35s;
  transition: .35s;
}

header nav ul li:hover::after {
  width: 100%;
}

header nav ul li:hover > .sub-nav ul li {
  display: block;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 8px;
}

header nav ul li a {
  text-decoration: none;
  color: #565656;
}

header nav ul li img {
  width: 10px;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

header nav .sub-nav {
  background-color: white;
  position: absolute;
  top: 45px;
}

header nav .sub-nav ul li {
  display: none;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
  background-color: #9c0b00;
  position: fixed;
  height: 100vh;
  left: 0%;
  width: 75px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside div:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
  -webkit-transition: .15s;
  transition: .15s;
  position: relative;
  top: 50px;
}

aside div a img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}

aside .notice-board a img {
  width: 35px;
  height: 35px;
}

aside div p {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: m;
}

main .achivement h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
  margin-top: 40px;
}

main .achivement, main .stage, main .img, main .ring {
  width: 100%;
  height: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .stage, main .achivement {
  overflow: hidden;
}

main .dov {
  position: absolute;
}

main .img {
  padding: 20px;
}

main .container {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  width: 300px;
  height: 300px;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .about-us {
  width: 90%;
  height: 45vh;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 25px;
}

@media screen and (max-width: 550px) {
  main .about-us {
    width: 80%;
  }
}

main .about-us .about__info::-webkit-scrollbar-track {
  background-color: transparent;
}

main .about-us .about__info::-webkit-scrollbar {
  width: 8px;
}

main .about-us .about__info::-webkit-scrollbar-thumb {
  background-color: #9c0b00;
  border-radius: 25px;
  width: 5px;
}

main .about-us .about__info {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 45vh;
  z-index: 5;
  background-color: #e2e2e2;
  overflow: scroll;
  overflow-x: hidden;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media screen and (max-width: 550px) {
  main .about-us .about__info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-bottom-right-radius: 25px;
  }
}

main .about-us .about__info h2 {
  color: #9c0b00;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Tangerine", cursive;
  font-size: 56px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  main .about-us .about__info h2 {
    font-size: 36px;
  }
}

main .about-us .about__info p {
  z-index: -1;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: #565656;
  padding: 15px 25px;
  line-height: 32px;
}

@media screen and (max-width: 550px) {
  main .about-us .about__info p {
    font-size: 15px;
  }
  main .about-us .about__info p a {
    font-size: 15px;
  }
}

main .about-us .about__info p a {
  text-decoration: none;
  color: #9c0b00;
}

main .about-us .about__img {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 100%;
  height: 100%;
  background: url(/images/about__img.jpg) no-repeat center center/cover;
  -webkit-transition: .35s;
  transition: .35s;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  main .about-us .about__img {
    display: none;
  }
}

main .courses {
  margin: 20px 0px;
  margin-bottom: 30px;
}

main .courses h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
}

main .courses .main__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

main .courses .main__course .cour:hover > .course__img {
  top: 0px;
}

main .courses .main__course .cour {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  width: 100%;
  height: 40vh;
}

@media screen and (max-width: 815px) {
  main .courses .main__course .cour {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

main .courses .main__course .cour a {
  text-decoration: none;
}

main .courses .main__course .cour a h2 {
  width: 100%;
  z-index: -1;
  background-color: #9c0b00;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  top: -20px;
  border: 2px solid #9c0b00;
}

main .courses .main__course .cour .course__img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px solid #9c0b00;
  z-index: 4;
  position: relative;
  top: 55px;
  -webkit-transition: .35s;
  transition: .35s;
}

@media screen and (max-width: 815px) {
  main .courses .main__course .cour .course__img {
    top: 0px;
  }
}

main .courses .main__course .cour .c__img__1 {
  background: url(/images/ug-programmes2.jpg) no-repeat center center/cover;
}

main .courses .main__course .cour .c__img__2 {
  background: url(/images/pg-programmes2.jpg) no-repeat center center/cover;
}

main .courses .main__course .cour .c__img__3 {
  background: url(/images/diploma-course2.jpg) no-repeat center center/cover;
}

main .courses h4 {
  width: 95%;
  margin: auto;
  text-align: right;
  margin-top: 70px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

main .courses h4 a:hover > img {
  width: 15px;
  left: 4px;
}

main .courses h4 a:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

main .courses h4 a {
  text-decoration: none;
  color: #9c0b00;
  -webkit-transition: .35s;
  transition: .35s;
  transition: .35s;
}

main .courses h4 a img {
  width: 0px;
  position: relative;
  -webkit-transition: .35s;
  transition: .35s;
}

main .courses h4 a img:hover {
  width: 15px;
  left: 4px;
}

main .placement {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .placement h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

main .placement .placement-carsoul {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.3));
  width: 85%;
  margin: auto;
  height: 50vh;
  z-index: 4;
  overflow: hidden;
  border-radius: 25px;
}

main .placement .placement-carsoul .placement-img {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0%;
  padding: 0%;
  z-index: -1;
  position: relative;
  right: 0px;
  -webkit-transition: .35s;
  transition: .35s;
}

main .placement .placement-carsoul .placement-img .place__img {
  width: 100%;
}

main .placement .placement-carsoul .placement-img .place__img img {
  width: 100%;
  height: 50vh;
  margin: 0%;
  padding: 0%;
  z-index: -1;
}

main .placement .placement-carsoul .dot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 50px;
  margin: auto;
  position: relative;
  top: -50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .placement .placement-carsoul .dot-box .dot {
  width: 12px;
  height: 12px;
  background-color: #c4c4c4;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .35s;
  transition: .35s;
}

main .placement .placement-carsoul .dot-box .dot:hover {
  background-color: #565656;
}

main .placement .placement-carsoul .dot-box .active {
  height: 28px;
  background-color: #565656;
}

main .placement .comp {
  margin-top: 20px;
}

main .placement .comp h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
}

main .placement .comp .requ {
  width: 800px;
  margin: auto;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

main .placement .comp .requ .r__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 3600px;
  top: 0%;
  right: 0%;
  -webkit-transition: .35s;
  transition: .35s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

main .placement .comp .requ .r__img img {
  width: 200px;
  height: 120px;
  z-index: -1;
}

main .message {
  margin-bottom: 40px;
}

@media screen and (max-width: 550px) {
  main .message {
    margin-bottom: 10px;
  }
}

main .message .blog-slider {
  width: 80%;
  position: relative;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(56, 56, 56, 0.2);
          box-shadow: 0px 14px 80px rgba(56, 56, 56, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 350px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 992px) {
  main .message .blog-slider {
    width: 80%;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  main .message .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  main .message .blog-slider {
    height: 350px;
  }
}

main .message .blog-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

main .message .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

main .message .blog-slider__img {
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #ff3022ce, #9c0b00);
  -webkit-box-shadow: 4px 13px 30px 1px rgba(66, 66, 66, 0.2);
          box-shadow: 4px 13px 30px 1px rgba(66, 66, 66, 0.2);
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  overflow: hidden;
}

main .message .blog-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__img {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  main .message .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  main .message .blog-slider__img {
    height: 270px;
  }
}

main .message .blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  main .message .blog-slider__content {
    padding: 0;
  }
}

main .message .blog-slider__content > * {
  opacity: 0;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .message .blog-slider__code {
  color: #565656;
  margin-bottom: 15px;
  display: block;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

main .message .blog-slider__title {
  font-size: 34px;
  font-weight: 700;
  color: #9c0b00;
  font-family: "Tangerine", cursive;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

main .message .blog-slider__text {
  color: #565656;
  font-family: "Roboto", sans-serif;
  max-height: 180px;
  line-height: 1.5em;
  overflow-y: scroll;
  letter-spacing: 2px;
}

main .message .blog-slider__text::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

main .message .blog-slider__text::-webkit-scrollbar {
  width: 8px;
}

main .message .blog-slider__text::-webkit-scrollbar-thumb {
  background-color: #9c0b00;
  border-radius: 25px;
  width: 5px;
}

main .message .blog-slider__button {
  display: none;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
          box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  main .message .blog-slider__button {
    width: 100%;
  }
}

main .message .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, main .message .blog-slider .swiper-pagination-custom, main .message .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

main .message .blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__pagination {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .message .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

main .message .blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #565656;
  opacity: 0.5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .message .blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #9c0b00;
  height: 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.3);
          box-shadow: 0px 0px 20px rgba(53, 53, 53, 0.3);
}

@media screen and (max-width: 768px) {
  main .message .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: f;
  background: url(/images/rrredbg.png) no-repeat center center/cover;
  width: 100%;
  border-top: 3px solid #ECAB05;
  border-left: 3px solid #ECAB05;
}

footer .footer-shall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-shall .footer__first, footer .footer-shall .footer__third {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

footer .footer-shall .footer__col {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-shall .footer__third {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-shall .footer__third .social-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 10px;
  background-color: white;
}

footer .footer-shall .footer__third .social-img img {
  width: 50px;
  height: 50px;
}

footer .footer-shall .footer__first img {
  width: 100px;
}

footer .footer-shall .footer__first a {
  text-decoration: none;
  color: #9c0b00;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding: 5px 20px;
  border-radius: 25px;
  margin-top: 20px;
}

footer .footer-shall .footer__second {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  border-left: 2px solid #ECAB05;
  border-right: 2px solid #ECAB05;
}

@media screen and (max-width: 815px) {
  footer .footer-shall .footer__second {
    border-left: none;
    border-right: none;
    width: 90%;
  }
}

footer .footer-shall .footer__second ul li {
  list-style: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
  text-align: left;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 2px;
}

footer .footer-shall .footer__second ul li a {
  text-decoration: none;
  color: white;
}

footer .copy h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #9c0b00;
  text-align: center;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
}
